{% load fontawesome_5 %}

<!-- Modal -->
<div class="modal" id="{{ modal_id|default:'cart_modal' }}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" style="align-items: flex-end;">
    <div class="modal-content">

      <div class="modal-header border-bottom-0 p-1">
        <h3 class="font-weight-bold">
          Your Order
        </h3>
      </div>

      <div class="modal-body bg-white">

        <div class="d-flex flex-column">

          <div style="display:block;">
            <!-- template order item -->
            <div id="order_item_template" class="order-item"
                 data-item_id="" data-quantity="" data-item_name="">
              <div class="d-flex flex-row justify-content-between">

                <button id="cart_item_<item_id>_btn" class="btn btn-warning" type="button"
                        data-toggle="modal" data-target="#item_<item_id>_modal">
                  {% fa5_icon 'plus' color='white' %}
                </button>

                <span class="item-name flex-fill">
                  Item Name Here
                </span>

                <span class="text-warning">
                  <span class="item-quantity">1</span>x
                </span>

                <span class="item-price ">
                  999
                </span>

              </div>
            </div>
          </div>


          <!-- cart order items cloned and appended here -->


        </div>
      </div>

      <div class="modal-footer bg-light">

        <div class="d-flex flex-row justify-content-between">
          <span class="flex-fill">
            Total
          </span>
          <span class="flex-fill">
            999 B
          </span>
        </div>

        <button type="button" class="btn btn-warning shadow" style="width: 100%;">
          PLACE ORDER
        </button>
        <button type="button" class="btn btn-light shadow border" data-dismiss="modal" style="width: 100%;">
          BACK
        </button>
      </div>

    </div>
  </div>
</div>
