{% load static %}
{% load fontawesome_5 %}

<div class="rounded-lg shadow border border-light my-3">
  <div class="d-flex flex-row justify-content-between">

    {% if item.image %}
      <img class="fluid-image rounded-lg" src="http://www.placecage.com/140/140" alt="Card image cap">
    {% endif %}

    <div class="d-flex flex-column p-3">
      <div class="item-name font-weight-bold line-clamp-1">
        {{ item.name }}
      </div>
      <div class="item-description py-1 line-clamp-2">
        {{ item.description }}
      </div>
      <div class="item-price font-weight-light">
        {{ item.price.amount|floatformat:"-2" }}
      </div>

    </div>

    <div class="align-self-start m-3">

      <button id="item_{{ item.id }}_btn" class="add-item btn btn-warning"
              type="button" title="add to order"
              data-item_id="{{ item.id }}" data-name="{{ item.name }}">
        {% fa5_icon 'plus' color='white' %}
      </button>

    </div>
  </div>
</div>
