{% load fontawesome_5 %}


<div id="cart-max" class="container fixed-bottom py-3 border border-top bg-light d-flex flex-column" style="min-height: 50%">

{#  <div class="">#}

    <h3 class="font-weight-bold">
      Your Order
    </h3>

    <!-- cart item template - keep hidden -->
    <div style="display:none;">
      <!-- template order item -->
      <div id="cart_item_template" class="order-item my-2"
           data-item_id="" data-quantity="" data-item_name="">
        <div class="d-flex flex-row justify-content-between align-items-center">

          <button class="btn btn-warning btn-item-modal mr-3" type="button" style="width: 2.7em;"
                  data-toggle="modal" data-target="#item_<item_id>_modal">
            <span class="font-weight-bold" style="text-decoration: underline;">
              <span class="item-quantity">1</span>x
            </span>
          </button>

          <span class="item-name font-weight-bold line-clamp-1 flex-fill">
            Item Name Here
          </span>

          <span class="item-price font-weight-light">
            ...
          </span>
          <sup id="cart_total_price_currency" class="font-weight-light">
            &#xE3F;
          </sup>

        </div>
      </div>
    </div>
    <!-- cart item template - keep hidden -->


    <div id="cart_max_summary" class="d-flex flex-column align-bottom mt-2 mb-auto">
      <!-- cart order items cloned from template and appended here -->
    </div>


    <div class="d-flex flex-row justify-content-end align-items-center my-3">

      <div class="font-weight-light mr-auto self-stretch">
        Total
      </div>

      <span id="cart_max_total_price_amount" class="item-price font-weight-light">
        ...
      </span>
      <sup id="cart_total_price_currency" class="font-weight-light">
        &#xE3F;
      </sup>

    </div>

    <button type="button" class="btn btn-warning shadow p-3" style="width: 100%;">
      <span class="font-weight-bold">
        PLACE ORDER
      </span>
    </button>

{#  </div>#}
</div>

<div id="cart-min" class="container fixed-bottom py-3 border border-top bg-light">

  <button id="checkout" class="btn btn-warning p-3" type="button" style="width: 100%;">
    <div class="d-flex flex-row justify-content-between align-items-center">

      <div class="mr-4">&nbsp;</div>

      <div class="item-name font-weight-bold">
        <span id="cart_min_total_items_count">0</span>
        items
      </div>

      <div class="font-weight-light">
        <span id="cart_min_total_price_amount">
          ...
        </span>
        <sup id="cart_min_total_price_currency" class="font-weight-light">
          &#xE3F;
        </sup>
      </div>

    </div>
  </button>
</div>