{% load static %}
{% load humanize %}
{% load fontawesome_5 %}

<div id="menu_editor">{% verbatim %}

  <!--{{ menu_sections }}-->

  <div v-for="(menu_section, ms_index) in menu.menu_sections" :key="menu_section.id">

    <h2>
      <input v-model="menu_section.name"
             class="form-control">
    </h2>

    <div v-for="(item, item_index) in menu_section.items" :key="item.id">
      <input v-model="item.name"
             class="form-control" >
      <input v-model="item.price_amount"
             class="form-control" >
      <textarea v-model="item.description" class="form-control" ></textarea>
    </div>

    <button v-on:click="addItemToMenuSection(menu_section)">
      <i class="fas fa-plus"></i>
    </button>

    <hr>

  </div>

  <button v-on:click="addMenuSection()">
    <i class="fas fa-plus"></i>
  </button>

{% endverbatim %}</div>

<script>
  const menu_url = "/api/menus/{{ shop.menu.id }}"
  const items_url = "/api/items/?menu={{ shop.menu.id }}"

  const menuEditor = new Vue({
    el: '#menu_editor',
    data: {
      menu: {
        menu_sections: []
      },
    },
    mounted() {
      axios.get(menu_url).then(response => {
        this.menu = response.data
      })
    },
    methods: {
      addMenuSection() {
        this.menu.menu_sections.push({
          "name": "", "items": []
        });
      },
      addItemToMenuSection(menu_section) {
        menu_section.items.push({
          "name": "", "description": "", "price_amount": 0
        });
      },
      removeItem(item) {
        item.menu_section.pop(item);
      },
    }
  });
</script>
