{% extends "base.html" %}
{% load static %}
{% load fontawesome_5 %}

{% block tab_title %}
  Pop
{% endblock tab_title %}

{% block css %}
{% endblock css %}


{% block javascript %}

{% endblock javascript %}

{% block content %}{% load humanize %}


  <section class="section section bg-soft pb-5 overflow-hidden z-2">

    <div class="row justify-content-center text-center pt-3">
      <div class="col-lg-8 col-xl-8">
        <h1 class="">
          <i class="fas fa-certificate" style="color: orangered;"></i>
          Pop
        </h1>
{#        <div class="d-flex flex-column flex-wrap flex-md-row justify-content-md-center my-5">#}
{#          <a href="#" class="btn btn-primary">#}
{#            <i class="fab fa-line mr-2"></i>#}
{#            Login with Line#}
{#          </a>#}
{#        </div>#}

        <div class="d-flex flex-column flex-wrap flex-md-row justify-content-md-center my-5">
          <a href="/admin" class="btn btn-primary">
            <i class="fas fa-user-secret mr-2"></i>
            Secret Agent Login
          </a>
        </div>

        <div class="d-flex flex-column flex-wrap flex-md-row justify-content-md-center my-5">
          <a href="/admin" class="btn btn-primary">
            <i class="fas fa-user-ninja mr-2"></i>
            Ninja Club Login
          </a>
        </div>

      </div>

    </div>
  </section>

{% endblock %}
