{% extends "base.html" %}
{% load static %}
{% load markup_tags %}

{% block content %}

  <h1>
    {{ article.title }}
  </h1>

  <ul class="list-inline">
    {% for topic in article.topics.all %}
      <li>
        <a href="{{ topic.get_absolute_url }}" class="btn-pill">
          {{ topic.title }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <p>
    {% if article.published_at %}
      published on
      {{ article.published_at|date }}
    {% endif %}
    On
    <a href="{{ article.blog.get_absolute_url }}">
      {{ article.blog.title }}
    </a>
  </p>


  {{ article.markdown|apply_markup:"markdown" }}



{% endblock content %}
