{% extends "base.html" %}
{% load static %}
{% load markup_tags %}

{% block content %}

  <h1>
    {{ article.title }}
  </h1>

  <ul class="list-inline">

    {% for topic in article.topics.all %}
      <li class="list-inline-item">
        <a href="{{ topic.get_absolute_url }}"
           class="badge badge-secondary">
          #{{ topic.title }}
        </a>
      </li>
    {% endfor %}

    {% if article.published_at %}
      <li class="list-inline-item">
        Published {{ article.published_at|date }}
      </li>
    {% endif %}

    {% if article.modified_at %}
      <li class="list-inline-item">
        Updated {{ article.modified_at|date }}
      </li>
    {% endif %}

    </li>

  </ul>

  <p>
    {% if article.published_at %}
      Published {{ article.published_at|date }}
    {% endif %}
    {% if article.modified_at %}
      Updated {{ article.modified_at|date }}
    {% endif %}
  </p>


  {{ article.markdown|apply_markup:"markdown" }}



{% endblock content %}
