{% extends "base.html" %}
{% load static %}

{% block content %}

  <h1>
    {{ topic.title }} on
    <a href="{{ topic.blog.get_absolute_url }}">
      {{ topic.blog.title }}
    </a>
  </h1>


  <table class="table">
    <thead>
      <td><strong>Title</strong></td>
      <td><strong>Trello Card</strong></td>
      <td><strong>Published At</strong></td>
    </thead>

    {% for article in topic.articles.all %}

      <tr>
        <td>
          <a href="{{ article.get_absolute_url }}" class="">
            {{ article.title }}
          </a>
        </td>

        <td>
          <a href="{{ article.trello_card.trello_url }}" class="" target="_blank">
            View On Trello
          </a>
        </td>

        <td>
          {{ article.published_at|date }}
        </td>
      </tr>

    {% endfor %}

  </table>

{% endblock content %}
