{% extends "base.html" %}
{% load static %}

{% block content %}


  {% for topic in blog.topics.all %}

    <div id="topic-{{ topic.id }}"
         class="topic card my-3 border-0">


      <div class="card" style="">

      {#  <img src="..." #}
      {#       class="card-img-top" alt="...">#}

        <div class="card-body">

          <h5 class="card-title">
            <a href="{{ topic.get_absolute_url }}">
              {{ topic.title|title }}
            </a>
          </h5>

          <p class="card-text">

            {{ topic.articles.count }}
            Article{{ topic.articles.count|pluralize }}

          </p>

        </div>

      </div>

    </div>


  {% endfor %}


{% endblock content %}
