{% extends "base.html" %}
{% load static %}


{% block tab_title %}Topics{% endblock tab_title %}


{% block content %}

  {% for topic in blog.topics.all %}

    <div id="topic-{{ topic.id }}"
         class="topic card my-3 border-0">


      <div class="card" style="">

      {#  <img src="..." #}
      {#       class="card-img-top" alt="...">#}

        <div class="card-body">


          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="{{ topic.get_absolute_url }}"
               class="badge badge-secondary">
                <h5>#{{ topic.title }}</h5>
              </a>
            </li>

            <li class="list-inline-item">
              {{ topic.articles.count }}
              Article{{ topic.articles.count|pluralize }}
            </li>

          </ul>

          <p class="card-text">
            <ul class="list-unstyled">
              {% for article in topic.articles.all %}

                <li class="">
                  <a href="{{ article.get_absolute_url }}">
                    {{ article.title|title }}
                  </a>
                </li>

              {% endfor %}
            </ul>
          </p>

        </div>

      </div>

    </div>

  {% endfor %}

{% endblock content %}
