
.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

input.input-quantity{
    max-width: 3em;
    text-align: center;
    font-weight: bold;
}

.opacity-30{
    opacity: 0.3;
}

.item-description{
    margin-bottom: -5px;
}

.item-description .item-note{
    position: relative;
    top: -0.3em;
    display: inline-block;
    line-height: 1em;
    padding-right: 2em;
}
