{% extends "base.html" %}
{% load static %}
{% load fontawesome_5 %}

{% block tab_title %}
  {{ shop.name }}
{% endblock tab_title %}

{% block css %}
{% endblock css %}


{% block javascript %}

{% endblock javascript %}

{% block content %}{% load humanize %}

  <div class="row">
    <div class="col-auto">
{#      <h1 class="display-1">#}
{#        {{ shop.name }} Dashboard#}
{#      </h1>#}
    </div>
    <div class="col-auto">

{#      <img class="img-thumbnail" src="{{ shop.customer_line_channel.line_add_friend_QR_img_src }}" #}
{#           alt="Line Channel QR" style="max-height: 10rem;">#}

{#      {% if shop.customer_line_channel.direct_link_url %}#}
{#        <a class="btn btn-primary" href="{{ shop.customer_line_channel.direct_link_url }}">#}
{#          <i class="fab fa-line"></i>#}
{#          LINE App#}
{#        </a>#}
{#      {% endif %}#}

    </div>
  </div>

  <div class="row my-3">
    <div class="col-auto">

      <!-- Tab Nav -->
      <div class="nav-wrapper position-relative">
        <ul class="nav nav-pills nav-fill" id="tabs-icons-text" role="tablist">
          <li class="nav-item">
              <a id="tabs-icons-text-1-tab" class="nav-link mb-sm-3 mb-md-0 active"
                 role="tab" href="#tabs-icons-text-1" data-toggle="tab">
                {% fa5_icon 'book-open' %}
                Menu
              </a>
          </li>
          <li class="nav-item mx-4">
              <a id="tabs-icons-text-2-tab" class="nav-link mb-sm-3 mb-md-0"
                 role="tab" href="#tabs-icons-text-2" data-toggle="tab">
                {% fa5_icon 'hand-holding-heart' %}
                Service
              </a>
          </li>
          <li class="nav-item">
              <a id="tabs-icons-text-3-tab" class="nav-link mb-sm-3 mb-md-0"
                 role="tab" href="#tabs-icons-text-3" data-toggle="tab">
                {% fa5_icon 'chart-bar' %}
                Office
              </a>
          </li>
        </ul>
      </div>
      <!-- End of Tab Nav -->
      <!-- Tab Content -->
      <div class="tab-content" id="tabcontent2">
        <div class="tab-pane fade active show" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">

          {% include "inclusions/menu/menu_editor.html" with menu=shop.menu %}

          <h5>Sample Text for spacing</h5>
          <p>Day handsome addition horrible sensible goodness two contempt. Evening for married his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>

        </div>
        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">

          <div class="my-5">
            <a class="btn btn-lg btn-outline-dark" href="{% url 'shop:orders' %}">
              ALL ORDERS
            </a>
          </div>

          <h2>build here</h2>
          <ul>
            <li>
              customer touchpoints
              <ul>
                <li>triggers (alerts, CTAs)</li>
                <li>actions (feedback)</li>
                <li>rewards (DMs, loyalty)</li>
                <li>interest (referrals, challenges)</li>
              </ul>
            </li>
            <li>
              delivery
              <ul>
                <li>pricing</li>
                <li>distance</li>
                <li>time estimates</li>
              </ul>
            </li>
            <li>promotions & discounts</li>
          </ul>

          <h5>Sample Text for spacing</h5>
          <p>Day handsome addition horrible sensible goodness two contempt. Evening for married his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>

        </div>
        <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">

          <div class="my-5">
            <a href="{% url 'shop:setup' shop_id=shop.id %}" class="btn btn-lg btn-outline-dark">
              {% fa5_icon 'cog' %}
              ACCOUNT SETUP
            </a>
          </div>

          <div class="my-5">
            <a class="btn btn-lg btn-outline-dark" href="{% url 'shop:gramables' %}">
              {% fa5_icon 'images' %}
              GRAMABLES: All image uploads
            </a>
          </div>

          <hr>

          <h5>Sample Text for spacing</h5>
          <p>Day handsome addition horrible sensible goodness two contempt. Evening for married his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>
        </div>
      </div>
      <!-- End of Tab Content -->
    </div>


  </div>

{% endblock %}
