{% extends "base.html" %}
{% load static %}
{% load fontawesome_5 %}

{% block tab_title %}
  {{ shop.name }}
{% endblock tab_title %}

{% block css %}
{% endblock css %}


{% block javascript %}

{% endblock javascript %}

{% block content %}{% load humanize %}

  <h1>{{ shop.name }} Dashboard</h1>

  <h2 class="mt-5">Image Uploads</h2>

  {% for image in shop.gramables.all %}

    {% if image.thumbnail_url %}
      <img src="{{ image.thumbnail_url }}" alt="" class="img-thumbnail" style="max-height: 15rem;">
    {% else %}
      <img src="{{ image.url }}" alt="" class="img-thumbnail" style="max-height: 15rem;">
    {% endif %}
    <div class="dropdown show">
      <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        use for {% fa5_icon 'angle-down' %}
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">
          {% fa5_icon 'plus' %} Menu Item ⚠️
        </a>
        <a class="dropdown-item" href="#">Promotion ⚠️ </a>
{#        <a class="dropdown-item" href="#">Shop</a>#}
      </div>
    </div>

  {% endfor %}



  <h2 class="mt-5">Menu</h2>

  {% for menu_section in shop.menu.menu_sections.all %}
    <h3>{{ menu_section.name }}</h3>
    <table class="table">
      <tbody>
        {% for item in menu_section.items.all %}
          <tr>

            <td>{{ item.price }}</td>
            <td class="font-weight-bold">{{ item.name }}</td>

            <td>
              <div class="input-group mb-3" style="width: 8rem;">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    {% fa5_icon 'minus-square' %}
                  </span>
                </div>
                <input type="text" class="form-control" aria-label="quantity" value="0" style="text-align: center">
                <div class="input-group-append">
                  <span class="input-group-text">
                    {% fa5_icon 'plus-square' %}
                  </span>
                </div>
              </div>
            </td>

          </tr>
          {% endfor %}
      </tbody>
    </table>
  {% endfor %}

{% endblock %}
