{% extends "base.html" %}
{% load static %}
{% load fontawesome_5 %}

{% block tab_title %}
  {{ shop.name }}
{% endblock tab_title %}

{% block css %}
{% endblock css %}


{% block javascript %}
  <script>
    const SHOP_ID = "{{ shop.id }}";
    const LINE_CHANNEL_MEMBERSHIP_ID = "{{ line_channel_membership.id }}";
    const DEBUG = {% if debug %}true{% else %}false{% endif %};
    const CSRF_TOKEN = '{{ csrf_token }}';
    var SHOPPING_CART = {{ shopping_cart_json|safe }};
  </script>
  <script src="{{ STATIC_URL }}shop/menu.js?v=0"></script>
{% endblock javascript %}

{% block content %}{% load humanize %}

{#  <h1>{{ shop.name }} Menu</h1>#}


  {% for menu_section in shop.menu.menu_sections.all %}
    <div class="card shadow-inset bg-primary border-light p-4 my-4 rounded">
    <h3 class="my-2">
      {{ menu_section.name }}
    </h3>

    {% for item in menu_section.items.all %}
      <div class="my-2">
        <ul class="list-inline mb-1">
          <li class="list-inline-item">
            <button id="item_{{ item.id }}_btn" class="add-item btn btn-icon-only"
                    type="button" title="add to order"
                    data-item_id="{{ item.id }}" data-name="{{ item.name }}">
              {% fa5_icon 'plus-square' %}
            </button>
          </li>
          <li class="list-inline-item">
            {{ item.name }}
          </li>
        </ul>
        <ul class="list-inline">
          <li class="list-inline-item">
            {{ item.description }}
          </li>
          <li class="list-inline-item text-italic text-gray-600">
            {{ item.price.amount|floatformat:"-2" }}
          </li>
        </ul>
      </div>
    {% endfor %}
    </div>
  {% endfor %}

  <div class="container fixed-bottom navbar-theme-primary pt-3 border-top">

    <div class="row justify-content-center">
      <div class="col-12 col-md-10">

        <div style="display:none;">
          <!-- template order item -->
          <div id="order_item_template" class="order-item"
               data-item_id="" data-quantity="" data-item_name="">
            <div class="d-flex flex-row justify-content-between" >

              <span class="item-name flex-fill">
                item name
              </span>

              <span class="item-quantity">1</span>x

              <span class="item-remove text-muted ml-3" title="remove">
                {% fa5_icon 'times-circle' %}
              </span>

            </div>
          </div>
        </div>

        <div id="order_items" class="card bg-primary shadow-soft border-light px-4 py-3">
          <!-- order items go here -->
        </div>

        <div class="my-3" style="">
          <button class="btn btn-danger" type="button" style="width: 100%;">
            checkout
          </button>
        </div>

      </div>
    </div>
  </div>


{% endblock content %}

{% block footer %}
  <!-- nothing -->
{% endblock footer %}
