{% extends "base.html" %}
{% load static %}
{% load fontawesome_5 %}

{% block tab_title %}
  {{ shop.name }} Menu
{% endblock tab_title %}

{% block css %}
  <link href="{{ STATIC_URL }}shop/menu.css?v=0" rel="stylesheet">
{% endblock css %}


{% block javascript %}
  <script>
    const SHOP_ID = "{{ shop.id }}";
    const LINE_CHANNEL_URL = "{{ line_channel_membership.line_channel.direct_link_url }}";
    const LINE_CHANNEL_MEMBERSHIP_ID = "{{ line_channel_membership.id }}";
    const DEBUG = {% if debug %}true{% else %}false{% endif %};
    const CSRF_TOKEN = '{{ csrf_token }}';
    var SHOPPING_CART = {{ shopping_cart_json|safe }};

    function get_cart_index_string(item_id, option_item_ids_array, addon_item_ids_array){
      var index_string = "i"+item_id;
      option_item_ids_array.sort((a,b) => a-b);
      $.each(option_item_ids_array, function(option_item_id){
        index_string = index_string + "+o" + option_item_id
      });
      addon_item_ids_array.sort((a,b) => a-b);
      $.each(addon_item_ids_array, function(addon_item_id){
        index_string = index_string + "+a" + addon_item_id
      });
    }
  </script>
  <script src="{{ STATIC_URL }}shop/menu.js?v=1"></script>
{% endblock javascript %}

{% block content %}{% load humanize %}

  <div class="jumbotron bg-transparent py-4 my-0">
    <h1 class="display-4">
      {{ shop.tagline|default:"food is life." }}
    </h1>
    <h5 class="font-weight-bold text-right">
      {{ shop.name }}
    </h5>
  </div>

  <div id="menu" class="">

    <div id="menu_section_nav" class="mb-4">
      <ul class="list-inline px-2 py-4" style="white-space: nowrap; overflow: auto;">
        {% for menu_section in shop.menu.menu_sections.all %}
          <li class="list-inline-item">
            <a class="btn shadow border {% if forloop.first %}btn-warning{% else %}btn-light{% endif %}"
               href="#menu_section_{{ menu_section.id }}">
              {{ menu_section.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% for menu_section in shop.menu.menu_sections.all %}
      <h4 id="menu_section_{{ menu_section.id }}" class="font-weight-bold mt-4">
        {{ menu_section.name }}
      </h4>

      {% for item in menu_section.items.all %}
        {% include 'inclusions/menu/menu_item.html' with item=item %}
      {% endfor %}
    {% endfor %}

    <div class="" style="height: 5rem;">
      <!-- empty space for scroll behind fixed-bottom div -->
    </div>
  </div>

  {% include 'inclusions/menu/menu_cart.html' %}

{% endblock content %}

{% block footer %}
  <!-- force empty footer -->
{% endblock footer %}
