{% extends "base.html" %}
{% load static %}
{% load fontawesome_5 %}

{% block tab_title %}
  {{ shop.name }}
{% endblock tab_title %}

{% block css %}
{% endblock css %}


{% block javascript %}

{% endblock javascript %}

{% block content %}{% load humanize %}

{#  <img src="{{ shop.customer_line_channel.QR_img_src }}" alt="Line Channel QR" class="img-thumbnail" style="max-height: 10rem;">#}

<div id="shop_profile" class="py-5 my-5 text-center">

  <img class="d-block mx-auto mb-4 rounded" src="{{ shop.logo_image.url }}" alt="{{ shop.name }} logo" width="72" height="72">

  <h1 class="display-4">
    {{ shop.name }}
  </h1>

  <p class="lead">

    {% if shop.customer_line_channel.direct_link_url %}
      <a class="btn btn-lg my-3" href="{{ shop.customer_line_channel.direct_link_url }}">
        <i class="fab fa-line display-4" style="color: green;"></i>
        Add on LINE
      </a>
    {% endif %}

    <ul class="list-group list-group-horizontal justify-content-center my-3">
    {% if shop.facebook_href %}
      <li class="list-group-item">
        <a class="" href="{{ shop.facebook_href }}" target="_blank" aria-label="facebook social link">
          {% fa5_icon 'facebook-f' 'fab' color="black" %}
        </a>
      </li>
    {% endif %}
    {% if shop.instagram_href %}
      <li class="list-group-item">
        <a class="" href="{{ shop.instagram_href }}" target="_blank" aria-label="instagram social link">
          {% fa5_icon 'instagram' 'fab' color="black" %}
        </a>
      </li>
    {% endif %}
    {% if shop.trip_advisor_href %}
      <li class="list-group-item">
        <a  class="" href="{{ shop.trip_advisor_href }}" target="_blank" aria-label="tripadvisor social link">
          {% fa5_icon 'tripadvisor' 'fab' color="black" %}
        </a>
      </li>
    {% endif %}
    {% if shop.google_maps_href %}
      <li class="list-group-item">
        <a class="" href="{{ shop.google_maps_href }}" target="_blank" aria-label="google_maps social link">
          {% fa5_icon 'map-pin' color="black" %}
        </a>
      </li>
    {% endif %}
  </ul>

  </p>

</div>

{% endblock %}
