{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  {% spaceless %}
    <title>
      {% block tab_title %}Skibi{% endblock tab_title %}
    </title>
  {% endspaceless %}

  {% block viewport %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, width=500, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  {% endblock viewport %}

  <!---META TAGS--->
  {% block additional_meta_tags %}
  {% endblock additional_meta_tags %}

  <!--FAVICON--> <!--iOS and Android icons-->
  <link rel="icon" href="{{ STATIC_URL }}assets/joy.png">

  {% if DEBUG %}
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}vendor/jquery/js/jquery-3.2.1.slim.js"></script>
    <script src="{{ STATIC_URL }}vendor/bootstrap/js/tether.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/tether/js/bootstrap.min.js"></script>

  {% else %}

    <!--bootstrap css-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <!--font-awesome css-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
          crossorigin="anonymous">

    <!--jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

  {% endif %}

  <link href="{{ STATIC_URL }}vendor/theme-application/dist/toolkit.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/base.css?v=0" rel="stylesheet">
  {% block css %}
  {% endblock css %}
</head>

<body style="width: 100%;">

  {% block header %}

  <header class="header">

    {% if DEBUG %}
      <div class="mt-2 mb-5" style="padding: 0 25% 0 25%;">
        <div class="card card-link-list text-center">
          <div class="card-body">
            Skibi is in TEST Mode.
            Please submit bugs to
            <a href="http://github.com/Prakti/TPub">TPub Repository</a>
          </div>
        </div>
      </div>
    {% endif %}

  </header>

  {% endblock header %}

  <main class="container" style="">

    {% block messages %}
      {% include 'messages.html' %}
    {% endblock messages %}

    {% block content %}
      <p>Hello Trello Blog</p>
    {% endblock content %}

  </main>


  <footer class="footer mt-5">
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock footer %}
  </footer>

  <!--Javascript Placed at the end of the document. Pages load faster. -->
  <!--bootstrap application theme js-->
  <script src="{{ STATIC_URL }}vendor/theme-application/dist/toolkit.min.js"></script>
  <!--custom global js-->
  <script src="{{ STATIC_URL }}javascript/base.js?v=0"></script>
  <!--allow templates to load some js-->
  {% block javascript %}
  {% endblock javascript %}

</body>
</html>
