{% load static %}
{% load fontawesome_5 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  {% spaceless %}
    <title>
      {% block tab_title %}Pop{% endblock tab_title %}
    </title>
  {% endspaceless %}

  {% block viewport %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, width=500, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  {% endblock viewport %}

  <!---META TAGS--->
  {% block additional_meta_tags %}
  {% endblock additional_meta_tags %}

  <!--FAVICON--> <!--iOS and Android icons-->
  <link rel="icon" href="{{ STATIC_URL }}assets/joy.png">

  <!-- FONT-AWESOME -->
  {% fontawesome_5_static %}

  {% if DEBUG %}
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}vendor/jquery/js/jquery-3.2.1.slim.js"></script>
    <script src="{{ STATIC_URL }}vendor/bootstrap/js/tether.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/tether/js/bootstrap.min.js"></script>

  {% else %}

    <!-- BOOTSTRAP -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>


    <!-- BOOTLINT -->
    <script src="https://stackpath.bootstrapcdn.com/bootlint/0.16.5/bootlint.min.js"
            integrity="sha384-RBzknQoCBisTKMnA0e7K87uByQg6PgmOcT3Cp2wjk3XbLGLiwMgOnEHOixsHTU6f"
            crossorigin="anonymous"></script>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4"
            crossorigin="anonymous"></script>

  {% endif %}

  {% block theme_css %}
    <link href="{{ STATIC_URL }}vendor/theme-application/dist/toolkit.min.css" rel="stylesheet">
  {% endblock theme_css %}

  <link href="{{ STATIC_URL }}vendor/theme-application/dist/toolkit.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/base.css?v=1" rel="stylesheet">

  {% block css %}
  {% endblock css %}
</head>

<body class="" style="">

  {% block header %}

  <header class="header">

    {% if DEBUG %}
      <div class="mt-2 mb-5" style="padding: 0 25% 0 25%;">
        <div class="card card-link-list text-center">
          <div class="card-body">
            Skibi is in TEST Mode.
            Please submit bugs to
            <a href="http://github.com/Prakti/TPub">TPub Repository</a>
          </div>
        </div>
      </div>
    {% endif %}

  </header>

  {% endblock header %}

  <main role="main" class="container" style="">

    {% block messages %}
      {% include 'messages.html' %}
    {% endblock messages %}

    {% block content %}
      <p>Hello Trello Blog</p>
    {% endblock content %}

  </main>

  <footer class="footer">
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock footer %}
  </footer>

  <!--Javascript Placed at the end of the document. Pages load faster. -->
  <!--bootstrap application theme js-->
  {% block theme_js %}
    <script src="{{ STATIC_URL }}vendor/theme-application/dist/toolkit.min.js"></script>
  {% endblock theme_js %}

  <!--custom global js-->
  <script src="{{ STATIC_URL }}javascript/base.js?v=0"></script>
  <!--allow templates to load some js-->
  {% block javascript %}
  {% endblock javascript %}

</body>
</html>
