
<div class="container" style="">

  <div class="row justify-content-center">

    <div class="col-md-8 col-sm-12">

      <div class="card card-link-list text-center">
        <div class="card-body">
          <a href="https://skibi.me" target="_blank">Skibi</a> © {% now "Y" %}

          <p class="font-italic">
            Made with 🖤 by
            YUD▲.ME
          </p>

          <a href="#">Terms</a>
          |
          <a href="#">Privacy</a>

      {#    <a href="http://github.com/tomcounsell">Tom Counsell</a> #}

        </div>
      </div>

    </div>

  </div>

</div>
